TYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultura em casa</title>
    <.playfair-display-<uniquifier> {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="cabeçalho">
        <img class="cabeçalho-logotipo" src="teachin{
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
        }
        
        .cabeçalho {
            background-color: #30c43c;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 24px 0;
        }
        
        .cabeçalho-título {
            color: #1b1f17;
            font-size: 60px;
        }
        
        .cabeçalho-lista {
            color: rgb(65, 141, 50);
            font-size: 22px;
        }
        
        .cabeçalho-logotipo {
            width: 160px;
        }
        
        .cabeçalho-lista-item1 {
            display: inline-block;
            margin: 0 16px;
        }
        
        .cabeçalho-lista-item2 {
            display: inline-block;
            margin: 0 16px;
        }
        
        .Agricultura em casa {
            background-image: linear-gradient(#0b5c18, #49b83f);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px 0;
        
        }
        
        .Agricultura em casa-título {
            font-size: 40px;
            padding: 24px;
        }
        
        .Agricultura em casa-texto1 {
            font-size: 40px;
            padding: 30px;
        }
        
        .Agricultura em casa-texto2 {
            font-size: 26px;
            padding: 24px;
        }
        
        .Agricultura em casa-div {
            width: 40%;
        }
        
        .Agricultura em casa-imagem {
            width: 50%;
        }
        
        .equipe {
            background-color: #1a8a23db;
            color: white;
        }
        
        .professor{
            width: 120px;
        }
        
        .ícone {
            width: 24px;
        }
        
        .equipe-div {
            text-align: center;
            padding: 16px 0;
        }
        
        .equipe-título{
            text-align: center;
        }
        
        .equipe-div-todos {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
        
        .rodapé{
            background-color: #1c6b2b;
            color: #e2f0e7;
            font-size: 20px;
            display: flex;
            justify-content: space-around;
            padding: 50px 0;
            align-items: center;
        }
        
        .rodapé-imagem{
            width: 70px;
        }
        
        .rodapé-ícone{
            width: 30px;
        }g 1.png" alt="robô escrevendo em uma lousa">
        <h1 class="cabeçalho-título">Escola de Robótica</h1>
        <ul class="cabeçalho-lista">
            <li class="cabeçalho-lista-item1">Missão de Nossa Escola</li>
            <li class="cabeçalho-lista-item2">Equipe de Professores</li>
        </ul>
    </header>

    <section class="agricultura em casa">
        <div class="nossa-escola-div">
            <h2 class="Agricultura em casa-título">Agricultura em casa</h2>
            <p class="nossa-escola-texto1">Que tal criarmos uma horta em sua casa com materiais reciclados? 
            Você vai precisar de:
             • Garrafas pets
             • Caixinhas de leite 
             • Terra compostada 
             • Mudas: alface e cebolinha.</p>
            <p class="nossa-escola-texto2"Materiais que você irá utilizar: 
            1°passo: corte a garrafa pet e a caixinha de leite ao meio. 2º passo: faça furos no fundo dos recipientes. 3º passo: adicione a terra compostada e em seguida coloque suas mudas no centro do recipiente. 4° passo: regue suas mudas diariamente e as deixe em um local que tenha luminosidade. 5° passo:continue os cuidados e em semanas terá deliciosas alfaces e cebolinhas.</p>.</p>
        </div>
        <img class="nossa-escola-imagem" src="Robotics-pana.png" alt="braços robóticos">
    </section>

    <section class="equipe">
        <h2 class="equipe-título">Equipe docente</h2>
        <div class="equipe-div-todos">
            <span></span>
            <div class="equipe-div">
                <img class="professor" src="p149f166.png" alt="Professor Dragonite">
                <h3 class="professor-nome">Dragonite</h3>
                <a href="https://br.linkedin.com/?trk=guest_homepage-basic_nav-header-logo">
                    <img class="ícone" src="linkedin (1).png" alt="ícone do linkedin">
                </a>
                <a href="https://github.com/JoanirRibeiro">
                    <img class="ícone" src="github (1).png" alt="ícone do github">
                </a>
            </div>

            <div class="equipe-div">
                <img class="professor" src="p149f166.png" alt="Professor Dragonite">
                <h3 class="professor-nome">Dragonite</h3>
                <a href="https://br.linkedin.com/?trk=guest_homepage-basic_nav-header-logo">
                    <img class="ícone" src="linkedin (1).png" alt="ícone do linkedin">
                </a>
                <a href="https://github.com/JoanirRibeiro">
                    <img class="ícone" src="github (1).png" alt="ícone do github">
                </a>
            </div>

            <div class="equipe-div">
                <img class="professor" src="p149f166.png" alt="Professor Dragonite">
                <h3 class="professor-nome">Dragonite</h3>
                <a href="https://br.linkedin.com/?trk=guest_homepage-basic_nav-header-logo">
                    <img class="ícone" src="linkedin (1).png" alt="ícone do linkedin">
                </a>
                <a href="https://github.com/JoanirRibeiro">
                    <img class="ícone" src="github (1).png" alt="ícone do github">
                </a>
            </div>
            <span></span>
            <span></span>
            <div class="equipe-div">
                <img class="professor" src="p149f166.png" alt="Professor Dragonite">
                <h3 class="professor-nome">Dragonite</h3>
                <a href="https://br.linkedin.com/?trk=guest_homepage-basic_nav-header-logo">
                    <img class="ícone" src="linkedin (1).png" alt="ícone do linkedin">
                </a>
                <a href="https://github.com/JoanirRibeiro">
                    <img class="ícone" src="github (1).png" alt="ícone do github">
                </a>
            </div>

            <div class="equipe-div">
                <img class="professor" src="p149f166.png" alt="Professor Dragonite">
                <h3 class="professor-nome">Dragonite</h3>
                <a href="https://br.linkedin.com/?trk=guest_homepage-basic_nav-header-logo">
                    <img class="ícone" src="linkedin (1).png" alt="ícone do linkedin">
                </a>
                <a href="https://github.com/JoanirRibeiro">
                    <img class="ícone" src="github (1).png" alt="ícone do github">
                </a>
            </div>

            <div class="equipe-div">
                <img class="professor" src="p149f166.png" alt="Professor Dragonite">
                <h3 class="professor-nome">Dragonite</h3>
                <a href="https://br.linkedin.com/?trk=guest_homepage-basic_nav-header-logo">
                    <img class="ícone" src="linkedin (1).png" alt="ícone do linkedin">
                </a>
                <a href="https://github.com/JoanirRibeiro">
                    <img class="ícone" src="github (1).png" alt="ícone do github">
                </a>
            </div>
        </div>
    </section>

    <footer class="rodapé">
        <img class="rodapé-imagem" src="teaching 1.png" alt="robô em pé">
        <h3 class="rodapé-título">Desenvolvido por Maria Isabela Vieira dos Santos</h3>
        <a href="https://github.com/mariaisabela15">
        <img class="rodapé-ícone" src="github (1).png" alt="">
        </a>
    </footer>
</body>

</html>